@font-face {
    font-family: smalle;
    src: url(fonts/smalle/smalle.ttf);
}

@font-face {
    font-family: cpixel;
    src: url(fonts/computer_pixel_7/computer_pixel-7.ttf);
}

@font-face {
    font-family: retroville;
    src: url(fonts/retroville_nc/Retroville\ NC.ttf);
}

@font-face {
    font-family: pixelpoiiz;
    src: url(fonts/pixelpoiiz/pixelpoiiz.ttf);
}

@font-face {
    font-family: pixellari;
    src: url(fonts/pixellari/Pixellari.ttf);
}

@font-face {
    font-family: paskowy;
    src: url(fonts/paskowy/Paskowy.ttf);
}

@font-face {
    font-family: deltarune;
    src: url(fonts/deltarune/deltarune.ttf);
}

@font-face {
    font-family: o4b;
    src: url(fonts/04b_30/04B_30__.TTF);
}

body {
    color: lightgray;
    font-family: smalle;
    text-align: center;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    background-image: url(images/stars.jpg);
    background-color: black;
}

h1 {
    color: lime;
    font-family: deltarune;
    font-size: 6vw;
}

h3 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

img {
    border: 5px solid lime;
    width: 56vw;
}

.header {
    border: 5px solid lime;
    background-color: black;
}

.pagelink {
    text-decoration: underline;
    color: lightgray;
    font-size: 25px;
}

.pagelink:hover {
    color: forestgreen;
    font-weight: bolder;
    font-style: italic;
}

.headertext {
    display: inline-block;
    margin: 1vw;
}

.pagelink-entry {
    text-decoration: none;
    color: lightgray;
    font-size: 50px;
}

.pagelink-entry:hover {
    cursor: pointer;
    color: lime;
}

.headertext-entry {
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.footertext {
    border-top: 5px lightgray solid;
    margin-top: 15vw;
    padding-top: 1vw;
}

.footerlink {
    text-decoration: underline;
    color: lightgray;
}

.footerlink:hover {
    color: forestgreen;
    font-weight: bolder;
    font-style: italic;
}

.myfooter {
    font-size: 20px;
}

#currentpage {
    font-weight: bolder;
}

.imgdesc {
    margin-top: 1vw;
}

.aboutbox {
    background-color: black;
    display: flex;
    text-align: start;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.container2 {
    padding-top: 10px;
    border: solid lime 5px;
}

#bold {
    font-weight: bolder;
}

.galleryImage {
    cursor: pointer;
}

.box {
    border: solid lime 5px;
    margin-bottom: 2.5vw;
    background-color: black;
}

.aboutmetitle {
    font-size: 25px;
    padding: 5px;
    background-color: black;
}

.aboutmelink {
    text-decoration: underline;
    color: lightgray;
}

.aboutmelink:hover {
    color: forestgreen;
    font-weight: bolder;
    font-style: italic;
}

.modalImage {
    border: none;
    width: 80vw;
}
